@mixin flex {
  display: flex;
}

@mixin space-between {
  justify-content: space-between;
}

@mixin space-around {
  justify-content: space-around;
}

@mixin center {
  justify-content: center;
}

@mixin align-center {
  align-items: center;
}

@mixin align-end {
  align-items: flex-end;
}

@mixin column {
  flex-direction: column;
}

@mixin wrap {
  flex-wrap: wrap;
}

@mixin placeholder {
  &::-webkit-input-placeholder {color: $greyXs;}
  &::-moz-placeholder          {color: $greyXs;}
  &:-moz-placeholder           {color: $greyXs;}
  &:-ms-input-placeholder      {color: $greyXs;}
}

@mixin placeholder-focus {
  :focus::-webkit-input-placeholder {color: transparent}
  :focus::-moz-placeholder          {color: transparent}  
  :focus:-moz-placeholder           {color: transparent}
  :focus:-ms-input-placeholder      {color: transparent}
}

