// Font var
$fontFamily: 'Roboto', sans-serif;
$fontLight: 300;
$fontRegular: 400;
$fontItalic: 400i;
$fontBold: 700;
$lineHeight: 1;
$fontSize: 14px;
$fontSizeXxs: 13px;
$fontSizeXs: 16px;
$fontSizeSm: 18px;
$fontSizeMd: 24px;
$fontSizeLg: 30px;

$LetterSpacXs: .025em;
$LetterSpacSm: .04em;
$LetterSpacLit: .05em;
$LetterSpacMd: .075em;
$LetterSpacBig: .1em;
$letterSpacLg: .4em;


// Color var
$white: #fff;
$grey: #555;
$greyLight: #777;
$greyMd: #9c9c9c;
$greyXs: #bababa;
$greyBg: #f0f0f2;
$light: #ebebeb;
$greyXsLight: #fafafa;
$black: #000;
$blackDark: #041608;
$blackMd: #222;
$blackXs: #2f302f;
$greyInnerPortfolio: #e2e2e2;
$greyInnerNews: #f5f5f7;


// Links color
$linkColor: #ccc;
$linkHoverColor: #000;