.c-team {
  width: 32%;
}

.c-team__img img {
  width: 100%;
}

.c-team__info {
  padding: 35px 35px 30px;
  background: $white;
}

.c-team__title {
  font-weight: $fontLight;
  font-size: 24px;
  letter-spacing: $LetterSpacSm;
  color: $blackDark;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.c-team__subtitle {
  font-weight: $fontBold;
  font-size: 16px;
  letter-spacing: $LetterSpacXs;
  margin-bottom: 25px;
}

.c-team__content {
  font-weight: $fontRegular;
  color: $greyMd;
  line-height: 1.7em;
}

.c-team__wrap {
  @include flex;
  @include space-between;
}

@media(max-width: 768px) {
  .c-team {
    width: 51%;
    margin: 0 auto;
  }

  .c-team__wrap {
    @include wrap;
  }

  .c-team + .c-team {
    margin-top: 20px;
  }
}

@media(max-width: 599px) {
  .c-team {
    width: 75%;
  }

  .c-team__info {
    padding: 25px 15px 15px;
  }
}